#btn2{
    font-family: sans-serif;
    font-size: 18px;
    background-color: #2DF8BB;
    margin-top: 50px;
}
#pic1 {
    width: 50%;
}
#pic2 {
    width: 100%;
    position: absolute;
    top: 200px;
    z-index: -1;
}
#pic3 {
    width: 100%;
    position: absolute;
    top: 180px;
    z-index: -1;
}
.content{
    display: flex;
    flex-direction: row;
    text-align:center;
}
h1{
    text-align:center;
    margin-top: 100px;
    width: 80%;
}
p{
    text-align:center;
    margin-top: 30px;
}