nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    display: flex;
    margin-left: 50px;
    padding-left: 0.091px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

nav ul li{
    display: inline-block;
    margin: 20px 30px;
    color: black;   
}
li{
    padding-left:  10px ;
    padding-right:  10px ;
    
}
a{
    color: black;
    text-decoration: none;
}
.btn{
    padding-left: 20px;
    margin-right: 50px;
    margin-left: 50px;

}
